body {
    background-color: #DCDCDC;
    font-family: Verdana, sans-serif;
}


/* Header */

h1 {
    padding: 20px;
    border: 1px solid white;
    background-color: #b5b5b5;
}


/* Container for Input Form */

#main {
    margin-left: -15px;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid white;
    background-color: #b5b5b5;
}


/* Input Form - label and input */

.col-form-label,
.form-control {
    margin-right: 20px;
    min-width: 100px;
}


/* Container for Generated Table*/

.table-container-style {
    margin-top: 10px;
    min-width: 750px;
    max-width: 750px;
    max-height: 392px;
    min-height: 392px;
    padding: 20px;
    border: 1px solid white;
    background-color: #b5b5b5;
    float: left;
    overflow: scroll;
}


/* Generated Table */

#style-table {
    margin: 20px;
    min-width: 20%;
    border: 5px solid white;
    background-color: #D3D3D3;
}


/* Generated Table - First Row and Column */

td.header {
    color: #696969;
    border: #FFF 1px thin;
    padding: 10px;
    text-align: center;
    font-size: 12pt;
    font-family: Verdana, sans-serif;
}


/* Generated Table - Lighter color squares */

td.child-blank {
    text-align: center;
    border: 1px solid white;
    background-color: #f4f4f4;
    padding: 10px;
    width: 12px;
    height: 12px;
    font-size: 12pt;
}


/* Generated Table - Darker color squares */

td.child-color {
    text-align: center;
    border: 1px solid white;
    background-color: #d3d3d3;
    padding: 10px;
    width: 12px;
    height: 12px;
    font-size: 12pt;
}


/* Footer */

#footer {
    font-style: italic;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid white;
    background-color: #b5b5b5;
}